@import "../common/glob.scss";
.sort-con {
    display: flex;
    .sort-item {
        position: relative;
        padding: 0 8px;
        height: 24px;
        line-height: 24px;
        $sortItemBorder: 1px solid #cccccc;
        &:first-child {
            border: {
                top: $sortItemBorder;
                left: $sortItemBorder;
                bottom: $sortItemBorder;
            }
        }
        &:last-child {
            border: {
                top: $sortItemBorder;
                right: $sortItemBorder;
                bottom: $sortItemBorder;
            }
        }
        background: white;
        color: $themesubColor;
        cursor: pointer;
        &.active {
            background: $themeColor;
            border: 1px solid $themeColor;
        }
        .fa-sort-down {
            position: absolute;
            top: 8px;
            right: 8px;
        }
        &.asc .fa-sort-down {
            opacity: .4;
        }
        &.desc .fa-sort-up {
            opacity: .4;
        }
    }
}

.p-list-con {
    margin-top: 15px;
    margin-right: -20px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    .err-tip{
        text-align: center;
        font-size: 30px;
        width:100%;
    }
    .p-item {
        position: relative;
        width: 180px;
        padding: 10px;
        margin: 0 20px 20px 0;
        background: white;
        .p-img-con {
            width: 180px;
            height: 200px;
            .p-img {
                width: 100%;
                height: 100%;
            }
        }
        .p-name-con {
            height: 40px;
            overflow: hidden;
            .p-name {
                font-size: 12px;
                line-height: 20px;
                margin-bottom: 10px;
                color: #666666;
            }
        }
    }
}