$formLineHeight:30px;
.form-line {
    height: $formLineHeight;
    line-height: $formLineHeight;
    font-size: 16px;
    padding-bottom: 10px;
    .label {
        width: 100px;
        display: inline-block;
        text-align: right;
        font-weight: bold;
    }
    @mixin valuePart {
        display: inline-block;
        margin-left: 10px;
    }
    .text {
        @include valuePart;
        height: $formLineHeight;
        line-height: $formLineHeight;
    }
    .input {
        @include valuePart;
        padding-left: 10px;
        outline: none;
        border: 1px solid #666666;
        height: $formLineHeight - 2px;
        line-height: $formLineHeight - 2px;
    }
}

.btn-submit{
    float: right;
}