@import '../glob.scss';

.header {
    .logo {
        position: absolute;
        font-size: 36px;
        left: 76px;
        top: 34px;
        font-size: 36px;
        font-weight: bold;
    }
    .search-content {
        padding: 40px 0 30px 250px;
        .search-input{
            width: 550px;
            height: 40px;
            line-height: 40px;
            padding-left: 10px;
            font-size: 15px;
            border: 2px solid $themeColor;
            outline: none;
        }
        .search-btn{
            font-size: 24px;
            position: absolute;
            height: 44px;
            line-height: 44px;
            width:80px;
            text-align: center;
        }
    }
}