<div class="footer">
    <div class="w">
        <div class="links">
            <a class="link" href="https://www.tmall.com/" target="_blank">天猫</a>
            <a class="link" href="https://2.taobao.com/" target="_blank">闲鱼</a>
            <a class="link" href="https://www.taobao.com/" target="_blank">淘宝</a>
            <a class="link" href="https://www.jd.com/" target="_blank">京东</a>
        </div>
        <p class="copyright">COPYRIGHT © 2017-2018 xuanhuan.com ALL RIGHT RESERVED</p>
    </div>
</div>

<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>